WSGIDaemonProcess crop python-path={{ django_project_home }}:{{ virtualenv_dir }}/lib/python2.7/site-packages

<VirtualHost *:81>

    ServerName {{ domain }}

    <Location "/static">
      SetHandler None
    </Location>

    WSGIPassAuthorization On
    WSGIScriptAlias / {{ django_project_home }}/prj/wsgi.py process-group=crop

    <Location />
      Order allow,deny
      Allow from all
    </Location>

    <Files wsgi.py>
      Order allow,deny
      Require all granted
    </Files>

</VirtualHost>

