
STATIC_ROOT = '/usr/share/nginx/html/static'

INSTALLED_APPS = (
    'grappelli',
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'crop',
)

DATABASES = {
    'default':{
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ postgres_db }}',
	'HOST': '{{ postgres_host }}',
        'USER': '{{ postgres_user }}',
        'PASSWORD': '{{ postgres_password }}',
    }
}

ROOT_URLCONF = 'crop.urls'
GRAPPELLI_ADMIN_TITLE = 'Wegis and Young'
